name: "bkia-website"

services:
  redis:
    container_name: redis
    image: redis:6.2-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    networks:
      - app-network

  postgres:
    container_name: postgres
    image: postgres:16.2
    restart: always
    env_file:
      - ./data/env/postgres/.env
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - app-network

  server:
    container_name: server
    image: korvisedyotsaiy/bkia-website-server:latest
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./data/env/server/.env
    depends_on:
      - redis
      - postgres
    networks:
      - app-network

  web:
    container_name: web
    image: korvisedyotsaiy/bkia-website-client:latest
    restart: always
    env_file:
      - ./data/env/web/.env
    expose:
      - "3000:3000"
    depends_on:
      - server
    networks:
      - app-network

  nginx:
    image: nginx:1.24-alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx-reverse-proxy.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - server
      - web
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
