/* Container */
.sweetalert-container {
    background-color: white;
    font-family: "Noto Sans Lao Looped", sans-serif;
}

/* Popup */
.sweetalert-popup {
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-xl */
    width: 20rem;
}

@media (min-width: 768px) {
    .sweetalert-popup {
        width: 25rem;
    }
}

/* Icon */
.sweetalert-icon {
    color: var(--color-primary) !important;
}

/* Title */
.sweetalert-title {
    font-size: 1.5rem !important;
}

/* Text */
.sweetalert-text {
    font-size: 1rem !important;
}

/* Buttons (default) */
.sweetalert-buttons {
    font-size: 0.9rem !important;
    padding: 0.5rem 1.5rem !important;
    background-color: var(--color-primary) !important;
    outline: none !important;
    color: #fff; /* Add text color */
    border: none;
    cursor: pointer;
}

/* Danger button */
.sweetalert-buttons-danger {
    font-size: 0.9rem !important;
    padding: 0.5rem 1.5rem !important;
    background-color: var(--color-danger) !important;
    outline: none !important;
    color: #fff;
    border: none;
    cursor: pointer;
}
